<div class="title-bar clearfix" data-responsive-toggle="finance-menu">
  <div class="title-bar-title float-center">
    {{#link-to "index"}}
      {{fa-icon "balance-scale" size="lg"}}
    {{/link-to}}
  </div>
  <button class="menu-icon float-right" type="button" data-toggle></button>
</div>

<div class="top-bar hide-for-large" id="finance-menu">
  <div class="top-bar-left">
    <ul class="vertical menu">
      {{#each menuItems as |menuItem|}}
        <li>
          {{#if menuItem.isAction}}
            <a id="{{menuItem.propertyId}}" {{action menuItem.action}}>
              {{menuItem.label}}
            </a>
          {{else}}
            {{#link-to menuItem.linkTo}}
              {{menuItem.label}}
            {{/link-to}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell large-2 show-for-large">
    <div class="grid-y medium-grid-frame">
      <div class="cell text-right">
        {{#link-to "index"}}
          {{fa-icon "balance-scale" size="4x"}}
        {{/link-to}}
      </div>
      <div class="cell">
        <ul class="vertical menu align-right">
          {{#each menuItems as |menuItem|}}
            <li>
              {{#if menuItem.isAction}}
                <a {{action menuItem.action}}>
                  {{menuItem.label}}
                </a>
              {{else}}
                {{#link-to menuItem.linkTo}}
                  {{menuItem.label}}
                {{/link-to}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="cell large-10">
    {{yield}}
  </div>
</div>
