<div class="title-bar clearfix" data-responsive-toggle="finance-menu">
  <div class="title-bar-title float-center">
    {{#link-to "index"}}
      {{fa-icon "balance-scale" size="lg"}}
    {{/link-to}}
  </div>
  <button class="menu-icon float-right" type="button" data-toggle></button>
</div>

<div class="top-bar hide-for-large" id="finance-menu">
  <div class="top-bar-left">
    <ul class="vertical menu">
      {{#each menuItems as |menuItem|}}
        <li>
          {{#if menuItem.isAction}}
            <a id="{{menuItem.propertyId}}" {{action menuItem.action}}>
              {{menuItem.label}}
            </a>
          {{else}}
            {{#link-to menuItem.linkTo}}
              {{menuItem.label}}
            {{/link-to}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="nav-menu show-for-large">
  <div class="grid-container clearfix">
    <div class="nav-menu-left">
      <ul class="menu">
        <li>
          {{#link-to "index" class="logo-link"}}
            {{fa-icon "balance-scale"}} Finance
          {{/link-to}}
        </li>
        {{#each menuItems as |menuItem|}}
          <li>
            {{#if menuItem.isAction}}
              <a id="{{menuItem.propertyId}}" {{action menuItem.action}}>
                {{menuItem.label}}
              </a>
            {{else}}
              {{#link-to menuItem.linkTo}}
                {{menuItem.label}}
              {{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
