<div class="grid-x">
  <div class="cell">
    <table class="hover unstriped">
      <thead>
        <tr>
          {{#each columns as |column|}}
            <th>
              {{column.name}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows as |row|}}
          <tr>
            {{#each columns as |column|}}
              <td>
                {{#if column.isLink}}
                  {{#link-to column.linkTo (get row column.linkParam)}}
                    {{get row column.propertyName}}
                  {{/link-to}}
                {{else}}
                  {{get row column.propertyName}}
                {{/if}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="grid-x">
  <div class="cell clearfix">
    <ul class="pagination float-right">
      {{#if disablePrevious}}
        <li class="pagination-previous disabled">
          Previous
        </li>
      {{else}}
        <li class="pagination-previous">
          <a {{action "previousPage"}}>Previous</a>
        </li>
      {{/if}}
      {{#each paginationPages as |paginationPage|}}
        {{#if paginationPage.current}}
          <li class="current">{{paginationPage.page}}</li>
        {{else}}
          <li class="page-link">
            <a {{action "setPage" paginationPage.page}}>
              {{paginationPage.page}}
            </a>
          </li>
        {{/if}}
      {{/each}}
      {{#if disableNext}}
        <li class="pagination-next disabled">
          Next
        </li>
      {{else}}
        <li class="pagination-next">
          <a {{action "nextPage"}}>Next</a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
