{{#if errors}}
  <div class="grid-x">
    <div class="cell">
      <p class="alert">
        {{#each errors as |error|}}
          {{error}}
        {{/each}}
      </p>
    </div>
  </div>
{{/if}}
<div class="grid-x">
  <div class="cell">
    <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell">
            {{forms/validated-input type="email" changeset=user propertyName="email" label="Email" propertyId="log-in-email"}}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell">
            {{forms/validated-input type="password" changeset=user propertyName="password" label="Password" propertyId="log-in-password"}}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell">
            <input type="submit" id="log-in-button" disabled={{disableSubmit}} class="button" value="Login" {{action "submit"}}>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
