{{#if errors}}
  <div class="grid-x">
    <div class="cell">
      <p class="alert">
        {{#each errors as |error|}}
          {{error}}
        {{/each}}
      </p>
    </div>
  </div>
{{/if}}
<div class="grid-x">
  <div class="cell">
    <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell">
            {{forms/validated-input type="email" changeset=user propertyName="email" label="Email" propertyId="sign-up-email"}}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            {{forms/validated-input type="text" changeset=user propertyName="firstName" label="First Name" propertyId="sign-up-first-name"}}
          </div>
          <div class="cell medium-6">
            {{forms/validated-input type="text" changeset=user propertyName="lastName" label="Last Name" propertyId="sign-up-last-name"}}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell">
            {{forms/validated-input type="password" changeset=user propertyName="password" label="Password" propertyId="sign-up-password"}}
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell">
            <input type="submit" id="sign-up-button" disabled={{disableSubmit}} class="button" value="Sign Up" {{action "submit"}}>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
