<div class="container-lg">
  <h1>Subcategory - {{this.subcategory.name}}</h1>
  <Menus::SubcategoryItem @subcategoryId={{this.subcategory.id}} />
  <Charts::SubcategoryAnnualReport @annualReport={{this.annualReport}} />
  <nav class="report-pagination">
    <ul>
      <li class="pagination-previous">
        {{#if this.annualReport.hasPreviousYear}}
          <button type="button" {{on "click" this.previousYear}} aria-label="Go to previous page">
            Previous
          </button>
        {{else}}
          <span>Previous</span>
        {{/if}}
      </li>
      <li class="pagination-next">
        {{#if this.annualReport.hasNextYear}}
          <button type="button" {{on "click" this.nextYear}} aria-label="Go to next page">
            Next
          </button>
        {{else}}
          <span>Next</span>
        {{/if}}
      </li>
    </ul>
  </nav>
</div>
