{{title subcategory.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h1>{{category.name}} - {{subcategory.name}}</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li>
          {{#link-to "subcategories.show" subcategory.id}}
            {{fa-icon "list"}} Detail
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.expenses" subcategory.id}}
            {{fa-icon "credit-card"}} Expenses
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.budgets" subcategory.id}}
            {{fa-icon "money-check-alt"}} Budgets
          {{/link-to}}
        </li>
        <li class="is-active">
          {{#link-to "subcategories.annual-report" subcategory.id}}
            {{fa-icon "chart-bar"}} Annual Report
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell report-table">
      <table class="hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center" colspan="3">January</th>
            <th class="text-center" colspan="3">February</th>
            <th class="text-center" colspan="3">March</th>
            <th class="text-center" colspan="3">April</th>
            <th class="text-center" colspan="3">May</th>
            <th class="text-center" colspan="3">June</th>
            <th class="text-center" colspan="3">July</th>
            <th class="text-center" colspan="3">August</th>
            <th class="text-center" colspan="3">September</th>
            <th class="text-center" colspan="3">October</th>
            <th class="text-center" colspan="3">November</th>
            <th class="text-center" colspan="3">December</th>
            <th class="text-center" colspan="3">Total</th>
          </tr>
          <tr>
            <th>Year</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>+ / -</th>
          </tr>
        </thead>
        <tbody>
          {{#each annualReports as |annualReport|}}
            <tr>
              <td>{{annualReport.year}}</td>
              <td>{{annualReport.jan_budget_str}}</td>
              <td>{{annualReport.jan_actual_str}}</td>
              <td class="{{if annualReport.jan_alert "alert" "success"}}">
                {{annualReport.jan_diff_str}}
              </td>
              <td>{{annualReport.feb_budget_str}}</td>
              <td>{{annualReport.feb_actual_str}}</td>
              <td class="{{if annualReport.feb_alert "alert" "success"}}">
                {{annualReport.feb_diff_str}}
              </td>
              <td>{{annualReport.mar_budget_str}}</td>
              <td>{{annualReport.mar_actual_str}}</td>
              <td class="{{if annualReport.mar_alert "alert" "success"}}">
                {{annualReport.mar_diff_str}}
              </td>
              <td>{{annualReport.apr_budget_str}}</td>
              <td>{{annualReport.apr_actual_str}}</td>
              <td class="{{if annualReport.apr_alert "alert" "success"}}">
                {{annualReport.apr_diff_str}}
              </td>
              <td>{{annualReport.may_budget_str}}</td>
              <td>{{annualReport.may_actual_str}}</td>
              <td class="{{if annualReport.may_alert "alert" "success"}}">
                {{annualReport.may_diff_str}}
              </td>
              <td>{{annualReport.jun_budget_str}}</td>
              <td>{{annualReport.jun_actual_str}}</td>
              <td class="{{if annualReport.jun_alert "alert" "success"}}">
                {{annualReport.jun_diff_str}}
              </td>
              <td>{{annualReport.jul_budget_str}}</td>
              <td>{{annualReport.jul_actual_str}}</td>
              <td class="{{if annualReport.jul_alert "alert" "success"}}">
                {{annualReport.jul_diff_str}}
              </td>
              <td>{{annualReport.aug_budget_str}}</td>
              <td>{{annualReport.aug_actual_str}}</td>
              <td class="{{if annualReport.aug_alert "alert" "success"}}">
                {{annualReport.aug_diff_str}}
              </td>
              <td>{{annualReport.sep_budget_str}}</td>
              <td>{{annualReport.sep_actual_str}}</td>
              <td class="{{if annualReport.sep_alert "alert" "success"}}">
                {{annualReport.sep_diff_str}}
              </td>
              <td>{{annualReport.oct_budget_str}}</td>
              <td>{{annualReport.oct_actual_str}}</td>
              <td class="{{if annualReport.oct_alert "alert" "success"}}">
                {{annualReport.oct_diff_str}}
              </td>
              <td>{{annualReport.nov_budget_str}}</td>
              <td>{{annualReport.nov_actual_str}}</td>
              <td class="{{if annualReport.nov_alert "alert" "success"}}">
                {{annualReport.nov_diff_str}}
              </td>
              <td>{{annualReport.dec_budget_str}}</td>
              <td>{{annualReport.dec_actual_str}}</td>
              <td class="{{if annualReport.dec_alert "alert" "success"}}">
                {{annualReport.dec_diff_str}}
              </td>
              <td>{{annualReport.tot_budget_str}}</td>
              <td>{{annualReport.tot_actual_str}}</td>
              <td class="{{if annualReport.tot_alert "alert" "success"}}">
                {{annualReport.tot_diff_str}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
