{{title subcategory.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h1>{{subcategory.name}}</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li>
          {{#link-to "subcategories.show" subcategory.id}}
            {{fa-icon "list"}} Detail
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.expenses" subcategory.id}}
            {{fa-icon "credit-card"}} Expenses
          {{/link-to}}
        </li>
        <li class="is-active">
          {{#link-to "subcategories.budgets" subcategory.id}}
            {{fa-icon "money-check-alt"}} Budgets
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <button class="button">
        Create
      </button>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {{#if budgets.length}}
        {{pagination-table rows=budgets columns=tableColumns limit=limit page=page meta=meta}}
      {{else}}
        No budgets exist here
      {{/if}}
    </div>
  </div>
</div>
