{{title subcategory.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>{{category.name}} - {{subcategory.name}}</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        {{#link-to "subcategories.edit" subcategory.id class="primary button"}}
          Edit
        {{/link-to}}
        <button id="delete-subcategory-button" class="alert button" {{action "openDeleteModal"}}>
          Delete
        </button>
      </div>
    </div>
  </div>
  {{#if errors}}
    <div class="grid-x">
      <div class="cell">
        <div class="callout alert">
          {{#each errors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li class="is-active">
          {{#link-to "subcategories.show" subcategory.id}}
            {{fa-icon "list"}} Details
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.expenses" subcategory.id}}
            {{fa-icon "credit-card"}} Expenses
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.budgets" subcategory.id}}
            {{fa-icon "money-check-alt"}} Budgets
          {{/link-to}}
        </li>
        <li>
          {{#link-to "subcategories.annual-report" subcategory.id}}
            {{fa-icon "chart-bar"}} Annual Report
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UUID</td>
            <td>{{subcategory.id}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{subcategory.name}}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{subcategory.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{#if showDeleteModal}}
  <div class="overlay">
    <div class="grid-x grid-padding-x align-center modal">
      <div class="cell small-12 medium-10 large-8 modal-cell">
        <p>Are you sure you want to delete <em>{{subcategory.name}}</em>?</p>
        <div class="button-group">
          <button id="confirm-delete-subcategory-button" class="alert button" {{action "deleteSubcategory"}}>
            Delete
          </button>
          <button id="cancel-delete-subcategory-button" class="secondary button" {{action "closeDeleteModal"}}>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
