<table>
  <tbody>
    {{#each @properties as |property|}}
      <tr>
        <td>
          {{property.name}}
        </td>
        <td>
          {{#if property.linkTo}}
            <LinkTo @route={{property.linkTo}} @model={{get @model property.linkParam}}>
              {{get @model property.propertyName}}
            </LinkTo>
          {{else}}
            {{get @model property.propertyName}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
