<div class="container-lg">
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.attachments}}
    @page={{this.page}}
    @numPages={{this.attachments.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @defaultSort={{this.defaultSort}}
    @defaultSortDirection={{this.defaultSortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
  />
</div>
<div class="add-button">
  <LinkTo @route="expenses.attachments.new" @model={{this.expense}}>
    <FaIcon @icon="plus" @size="lg" />
  </LinkTo>
</div>
