<div class="container-lg">
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.attachments}}
    @page={{this.page}}
    @numPages={{this.attachments.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @defaultSort={{this.defaultSort}}
    @defaultSortDirection={{this.defaultSortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
    @headerButtons={{this.paginationButtons}}
  />
</div>
