<div class="container-lg">
  <h1>Loans</h1>
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.loans}}
    @page={{this.page}}
    @numPages={{this.loans.meta.pages}}
    @setPage={{this.setPage}}
    @headerButtons={{this.paginationButtons}}
  />
</div>