<div class="container-lg">
  <h1>Loan - {{this.loan.name}}</h1>
  <Menus::LoanItem @loanId={{this.loan.id}} />
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.loanPayments}}
    @page={{this.page}}
    @numPages={{this.loanPayments.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @defaultSort={{this.defaultSort}}
    @defaultSortDirection={{this.defaultSortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
  />
</div>
<div class="add-button">
  <LinkTo @route="loan-payments.new" @query={{hash loanId=this.loan.id}}>
    <FaIcon @icon="plus" @size="lg" />
  </LinkTo>
</div>
