<div class="container-lg">
  <h1>Users</h1>
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.users}}
    @page={{this.page}}
    @numPages={{this.users.meta.pages}}
    @setPage={{this.setPage}}
    @headerButtons={{this.paginationButtons}}
  />
</div>
