<div class="container-lg">
  <h1>Category - {{this.category.name}}</h1>
  <Menus::CategoryItem @categoryId={{this.category.id}} />
</div>
<div class="container-sm">
  <LinkTo @route="categories.edit" @model={{this.category.id}} class="button">
    Edit
  </LinkTo>
  <button type="button" class="button alert" {{on "click" this.openDeleteModal}}>
    Delete
  </button>
</div>
{{#if this.showDeleteModal}}
  <div class="overlay">
    <div class="container-sm modal">
      {{#if this.deleteErrors}}
        <div class="callout alert">
          {{#each this.deleteErrors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      {{/if}}
      <p>Are you sure you want to delete category <span>{{this.category.name}}</span>?</p>
      <button type="button" class="button alert" {{on "click" this.deleteCategory}}>
        Delete
      </button>
      <button type="button" class="button cancel" {{on "click" this.closeDeleteModal}}>
        Cancel
      </button>
    </div>
  </div>
{{/if}}
