{{title category.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>{{category.name}}</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        <button id="delete-category-button" class="alert button" {{action "deleteCategory"}}>
          Delete
        </button>
      </div>
    </div>
  </div>
  {{#if errors}}
    <div class="grid-x">
      <div class="cell">
        <div class="callout alert">
          {{#each errors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li class="is-active">
          {{#link-to "categories.show" category.id}}
            {{fa-icon "list"}} Details
          {{/link-to}}
        </li>
        <li>
          {{#link-to "categories.subcategories" category.id}}
            {{fa-icon "project-diagram"}} Subcategories
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UUID</td>
            <td>{{category.id}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{category.name}}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{category.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
