{{title category.name}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h1>{{category.name}}</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li>
          {{#link-to "categories.show" category.id}}
            {{fa-icon "list"}} Details
          {{/link-to}}
        </li>
        <li class="is-active">
          {{#link-to "categories.subcategories" category.id}}
            {{fa-icon "project-diagram"}} Subcategories
          {{/link-to}}
        </li>
        <li>
          {{#link-to "categories.expenses" category.id}}
            {{fa-icon "credit-card"}} Expenses
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <a class="button" {{action "showCreateForm"}}>
        Create
      </a>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {{#if subcategories.length}}
        {{pagination-table rows=subcategories columns=tableColumns limit=limit page=page meta=meta}}
      {{else}}
        No subcategories exist here
      {{/if}}
    </div>
  </div>
  <div class="grid-x">
    <div class="cell clearfix">
      <ul class="pagination float-right">
        {{#if disablePrevious}}
          <li class="pagination-previous disabled">
            Previous
          </li>
        {{else}}
          <li class="pagination-previous">
            <a {{action "previousPage"}}>Previous</a>
          </li>
        {{/if}}
        {{#each paginationPages as |paginationPage|}}
          {{#if paginationPage.current}}
            <li class="current">{{paginationPage.page}}</li>
          {{else}}
            <li>
              <a {{action "setPage" paginationPage.page}}>
                {{paginationPage.page}}
              </a>
            </li>
          {{/if}}
        {{/each}}
        {{#if disableNext}}
          <li class="pagination-next disabled">
            Next
          </li>
        {{else}}
          <li class="pagination-next">
            <a {{action "nextPage"}}>Next</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
  {{#if newCategory}}
    <div class="overlay">
      <div class="grid-x grid-padding-x align-center modal">
        <div class="cell small-12 medium-10 large-8 modal-cell">
          {{forms/category/create-category category=(changeset newCategory CategoryValidations) categoryCreated=(action "closeCreateForm")}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
