<div class="container-lg">
  <div class="title-with-buttons">
    <h1>Income</h1>
    <div class="buttons">
      <LinkTo @route="income.new" class="button">
        New
      </LinkTo>
    </div>
  </div>
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.incomes}}
    @page={{this.page}}
    @numPages={{this.incomes.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
  />
</div>
