{{title "Income"}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>Income</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        <button id="show-create-income-form-button" class="button" {{action "showCreateForm"}}>
          Create
        </button>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      {{#if incomes.length}}
        {{pagination-table rows=incomes columns=tableColumns limit=limit page=page meta=meta}}
      {{else}}
        No income exists here.
      {{/if}}
    </div>
  </div>
  {{#if newIncome}}
    <div class="overlay">
      <div class="grid-x grid-padding-x align-center modal">
        <div class="cell small-12 medium-10 large-8 modal-cell">
          {{forms/income/create-income income=(changeset newIncome IncomeValidations) householdMembers=householdMembers incomeCreated=(action "closeCreateForm") householdMemberSelected=(action "householdMemberSelected")}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
