{{title "Budget"}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>Budget</h1>
    </div>
    <div class="cell small-4">
      <div class="button-group float-right">
        {{#link-to "budgets.edit" budget.id class="primary button"}}
          Edit
        {{/link-to}}
        <button id="delete-budget-button" class="alert button" {{action "openDeleteModal"}}>
          Delete
        </button>
      </div>
    </div>
  </div>
  {{#if errors}}
    <div class="grid-x">
      <div class="cell">
        <div class="callout alert">
          {{#each errors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li class="is-active">
          {{#link-to "budgets.show" budget.id}}
            {{fa-icon "list"}} Details
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UUID</td>
            <td>{{budget.id}}</td>
          </tr>
          <tr>
            <td>Year</td>
            <td>{{budget.year}}</td>
          </tr>
          <tr>
            <td>Month</td>
            <td>{{budget.month_name}}</td>
          </tr>
          <tr>
            <td>Budget</td>
            <td>{{budget.budget}}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{budget.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{{#if showDeleteModal}}
  <div class="overlay">
    <div class="grid-x grid-padding-x align-center modal">
      <div class="cell small-12 medium-10 large-8 modal-cell">
        <p>Are you sure you want to delete this budget?</p>
        <div class="button-group">
          <button id="confirm-delete-budget-button" class="alert button" {{action "deleteBudget"}}>
            Delete
          </button>
          <button id="cancel-delete-budget-button" class="secondary button" {{action "closeDeleteModal"}}>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
