{{#if errors}}
  <div class="grid-x">
    <div class="cell">
      <p class="alert">
        {{#each errors as |error|}}
          {{error}}
        {{/each}}
      </p>
    </div>
  </div>
{{/if}}
<div class="grid-x">
  <div class="cell">
    <form>
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell medium-6">
            {{forms/validated-datepicker changeset=income propertyName="date" label="Date" propertyId="edit-income-date"}}
          </div>
          <div class="cell-medium-6">
            <div class="search-container">
              <label>Member
              </label>
              {{input type="text" id="edit-income-household-member" value=householdMemberName}}
              <ul class="vertical menu search-result">
                {{#each householdMembers as |householdMember|}}
                  <li>
                    <a id="select-household-member-{{householdMember.id}}-button" class="button" {{action "selectHouseholdMember" householdMember}}>
                      {{householdMember.name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="grid-x">
          <div class="cell medium-6">
            {{forms/validated-input type="text" changeset=income propertyName="description" label="Description" propertyId="edit-income-description"}}
          </div>
          <div class="cell medium-6">
            {{forms/validated-input type="number" changeset=income propertyName="amount" label="Amount" propertyId="edit-income-amount"}}
          </div>
        </div>
        <div class="grid-x">
          <div class="cell">
            <input type="submit" id="save-income-button" disabled={{disableSubmit}} class="button" value="Save" {{action "submit"}}>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
