<nav class="secondary">
  <ul>
    <li>
      {{#if this.isDetailsRoute}}
        <span>
          <FaIcon @icon="list" @size="sm" />
          Details
        </span>
      {{else}}
        <LinkTo @route="categories.show" @model={{@categoryId}}>
          <FaIcon @icon="list" @size="sm" />
          Details
        </LinkTo>
      {{/if}}
    </li>
    <li>
      {{#if this.isSubcategoriesRoute}}
        <span>
          <FaIcon @icon="diagram-project" @size="sm" />
          Subcategories
        </span>
      {{else}}
        <LinkTo @route="categories.subcategories" @model={{@categoryId}}>
          <FaIcon @icon="diagram-project" @size="sm" />
          Subcategories
        </LinkTo>
      {{/if}}
    </li>
    <li>
      {{#if this.isSettingsRoute}}
        <span>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </span>
      {{else}}
        <LinkTo @route="categories.settings" @model={{@categoryId}}>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </LinkTo>
      {{/if}}
    </li>
  </ul>
</nav>
