<nav class="secondary">
  <ul>
    <li>
      {{#if this.isDetailsRoute}}
        <span>
          <FaIcon @icon="list" @size="sm" />
          Details
        </span>
      {{else}}
        <LinkTo @route="loans.show" @model="{{@loanId}}">
          <FaIcon @icon="list" @size="sm" />
          Details
        </LinkTo>
      {{/if}}
    </li>
    <li>
      {{#if this.isLoanPaymentsRoute}}
        <span>
          <FaIcon @icon="money-bill-wave" @size="sm" />
          Loan Payments
        </span>
      {{else}}
        <LinkTo @route="loans.loan-payments" @model="{{@loanId}}">
          <FaIcon @icon="money-bill-wave" @size="sm" />
          Loan Payments
        </LinkTo>
      {{/if}}
    </li>
    <li>
      {{#if this.isSettingsRoute}}
        <span>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </span>
      {{else}}
        <LinkTo @route="loans.settings" @model={{@loanId}}>
          <FaIcon @icon="gear" @size="sm" />
          Settings
        </LinkTo>
      {{/if}}
    </li>
  </ul>
</nav>
