<div class="container-lg">
  <h1>Edit Expense</h1>
  <Menus::ExpenseItem @expenseId={{this.expense.id}} />
</div>
<div class="container-sm">
  <Forms::Expense
    @expense={{this.expense}}
    @funds={{this.funds}}
    @householdMembers={{this.householdMembers}}
    @saveSuccessful={{this.transitionToExpenseDetails}}
    @subcategories={{this.subcategories}}
    @vendors={{this.vendors}}
  />
</div>
