{{title "Expense"}}
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-8">
      <h1>Expense</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <ul class="menu">
        <li class="is-active">
          {{#link-to "expenses.show" expense.id}}
            {{fa-icon "list"}} Details
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UUID</td>
            <td>{{expense.id}}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{expense.date}}</td>
          </tr>
          <tr>
            <td>Amount</td>
            <td>{{expense.amount}}</td>
          </tr>
          <tr>
            <td>Reimbursed Amount</td>
            <td>{{expense.reimbursed_amount}}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>
              {{#link-to "subcategories.show" subcategory.id}}
                {{category.name}} - {{subcategory.name}}
              {{/link-to}}
            </td>
          </tr>
          <tr>
            <td>Vendor</td>
            <td>
              {{#link-to "vendors.show" vendor.id}}
                {{vendor.name}}
              {{/link-to}}
            </td>
          </tr>
          <tr>
            <td>Member</td>
            <td>
              {{#link-to "household-members.show" householdMember.id}}
                {{householdMember.name}}
              {{/link-to}}
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{expense.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
