<div class="container-lg">
  <h1>Fund - {{this.fund.name}}</h1>
  <Menus::FundItem @fundId={{this.fund.id}} />
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.deposits}}
    @page={{this.page}}
    @numPages={{this.deposits.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @defaultSort={{this.defaultSort}}
    @defaultSortDirection={{this.defaultSortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
    @headerButtons={{this.paginationButtons}}
  />
</div>
