<div class="container-lg">
  <h1>Fund - {{this.fund.name}}</h1>
  <Menus::FundItem @fundId={{this.fund.id}} />
</div>
<div class="container-sm">
  <LinkTo @route="funds.edit" @model={{this.fund.id}} class="button">
    Edit
  </LinkTo>
  <button type="button" class="button alert" {{on "click" this.openDeleteModal}}>
    Delete
  </button>
</div>
{{#if this.showDeleteModal}}
  <div class="overlay">
    <div class="container-sm modal">
      {{#if this.deleteErrors}}
        <div class="callout alert">
          {{#each this.deleteErrors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      {{/if}}
      <p>Are you sure you want to delete fund <span>{{this.fund.name}}</span>?</p>
      <button type="button" class="button alert" {{on "click" this.deleteFund}}>
        Delete
      </button>
      <button type="button" class="button cancel" {{on "click" this.closeDeleteModal}}>
        Cancel
      </button>
    </div>
  </div>
{{/if}}
