<div class="container-lg">
  <h1>Household Member - {{this.householdMember.name}}</h1>
  <Menus::HouseholdMemberItem @memberId={{this.householdMember.id}} />
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.expenses}}
    @page={{this.page}}
    @numPages={{this.expenses.meta.pages}}
    @sort={{this.sort}}
    @sortDirection={{this.sortDirection}}
    @defaultSort={{this.defaultSort}}
    @defaultSortDirection={{this.defaultSortDirection}}
    @setPage={{this.setPage}}
    @setSort={{this.setSort}}
    @headerButtons={{this.paginationButtons}}
  />
</div>
