<div class="container-lg">
  <h1>Household Member - {{householdMember.name}}</h1>
  <Menus::HouseholdMemberItem @memberId={{householdMember.id}} />
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.incomes}}
    @page={{this.page}}
    @numPages={{this.incomes.meta.pages}}
    @setPage={{this.setPage}}
  />
</div>
