<div class="container-lg">
  <div class="title-with-buttons">
    <h1>Members of Household</h1>
    <div class="buttons">
      <a href="#" class="button">
        New
      </a>
    </div>
  </div>
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.householdMembers}}
    @page={{this.page}}
    @numPages={{this.householdMembers.meta.pages}}
    @setPage={{this.setPage}}
  />
</div>
