<div class="container-lg">
  <h1>Employers</h1>
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.employers}}
    @page={{this.page}}
    @numPages={{this.employers.meta.pages}}
    @setPage={{this.setPage}}
  />
</div>
