<div class="container-lg">
  <h1>Vendor - {{this.vendor.name}}</h1>
  <Menus::VendorItem @vendorId={{this.vendor.id}} />
  <PaginatedTable
    @columns={{this.tableColumns}}
    @rows={{this.expenses}}
    @page={{this.page}}
    @numPages={{this.expenses.meta.pages}}
    @setPage={{this.setPage}}
  />
</div>
<div class="add-button">
  <LinkTo @route="expenses.new" @query={{hash vendorId=this.vendor.id}}>
    <FaIcon @icon="plus" @size="lg" />
  </LinkTo>
</div>
