<div class="container-lg">
  <h1>Vendor - {{this.vendor.name}}</h1>
  <Menus::VendorItem @vendorId={{this.vendor.id}} />
</div>
<div class="container-sm">
  <LinkTo @route="vendors.edit" @model={{this.vendor.id}} class="button">
    Edit
  </LinkTo>
  <button type="button" class="button alert" {{on "click" this.openDeleteModal}}>
    Delete
  </button>
</div>
{{#if this.showDeleteModal}}
  <div class="overlay">
    <div class="container-sm modal">
      {{#if this.deleteErrors}}
        <div class="callout alert">
          {{#each this.deleteErrors as |error|}}
            <p>{{error}}</p>
          {{/each}}
        </div>
      {{/if}}
      <p>Are you sure you want to delete vendor <span>{{this.vendor.name}}</span>?</p>
      <button type="button" class="button alert" {{on "click" this.deleteVendor}}>
        Delete
      </button>
      <button type="button" class="button cancel" {{on "click" this.closeDeleteModal}}>
        Cancel
      </button>
    </div>
  </div>
{{/if}}
