<div class="container-md">
  <h2>Loans</h2>
  <div class="dashboard-open-loans-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.openLoans as |loan|}}
          <tr>
            <td>
              <LinkTo @route="loans.show" @model={{loan.id}}>
                {{loan.name}}
              </LinkTo>
            </td>
            <td>{{loan.amountStr}}</td>
            <td>{{loan.balanceStr}}</td>
          </tr>
        {{/each}}
        <tr class="total-row">
          <td></td>
          <td>{{this.openLoansTotalAmount}}</td>
          <td>{{this.openLoansTotalBalance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2>Monthly Summary</h2>
  <div class="dashboard-month-selector">
    <div>
      <label for="budget-report-year">
        Year
      </label>
      <PowerSelect
        @options={{this.yearOptions}}
        @selected={{this.year}}
        @onChange={{action this.setYear}}
        @triggerId="budget-report-year"
        as |yearOption|
      >
        {{yearOption}}
      </PowerSelect>
    </div>
    <div>
      <label for="budget-report-month">
        Month
      </label>
      <PowerSelect
        @options={{this.monthOptions}}
        @selected={{this.month}}
        @onChange={{action this.setMonth}}
        @triggerId="budget-report-month"
        as |monthOption|
      >
        {{monthOption}}
      </PowerSelect>
    </div>
  </div>
  <div class="budget-table">
    <table>
      <thead>
        <tr>
          <th>Budget</th>
          <th>Actual</th>
          <th>+ / -</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this.monthlyReport.budgetStr}}</td>
          <td>{{this.monthlyReport.actualStr}}</td>
          <td class="{{if this.monthlyReport.budgetActualBalanceAlert "alert" "success"}}">{{this.monthlyReport.budgetActualBalanceStr}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="income-table">
    <table>
      <thead>
        <tr>
          <th>Income</th>
          <th>Budget +/-</th>
          <th>Actual +/-</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this.monthlyReport.incomeStr}}</td>
          <td class="{{if this.monthlyReport.incomeBudgetBalanceAlert "alert" "success"}}">{{this.monthlyReport.incomeBudgetBalanceStr}}</td>
          <td class="{{if this.monthlyReport.incomeActualBalanceAlert "alert" "success"}}">{{this.monthlyReport.incomeActualBalanceStr}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="budget-report-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Budget</th>
          <th>Actual</th>
          <th>+ / -</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.budgetReports as |budgetReport|}}
          <tr>
            <td>
              <LinkTo @route="subcategories.show" @model={{budgetReport.subcategory.id}}>
                {{budgetReport.category.name}}: {{budgetReport.subcategory.name}}
              </LinkTo>
            </td>
            <td>{{budgetReport.budgetStr}}</td>
            <td>{{budgetReport.actualStr}}</td>
            <td class="{{if budgetReport.alert "alert" "success"}}">{{budgetReport.balanceStr}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
